<style>
  .card {
    background-color: var(--card-background);
    -webkit-box-shadow: var(--shadow-basic); 
    box-shadow: var(--shadow-basic);
    padding: 0 0 32px 0;
    border-radius: 10px;
    margin-bottom: 32px;
  }

  .card:first-of-type {
    border-top: 3px solid {{ user.accent_color }};
  }

  .card > .row {
    width: 100%;
    padding: 12px 32px !important;
    margin: 0 !important;
    display: flex;
    justify-content: flex-start;
  }

  .card > .row > .title {
    min-width: 150px !important;
    color: var(--muted-text);
  } 

  .card > .row:nth-child(odd) {
    background-color: var(--background-200);
  }
</style>

<h1>Din profil</h1>
<br>
<div class="card">
  <div class="head">
    <h3>Personlig information</h3>
  </div>
  <div class="row"><p class="title">Fornavn:</p> {{ user.first_name }}</div>
  <div class="row"><p class="title">Efternavn:</p> {{ user.last_name }}</div>
  <div class="row"><p class="title">Klasse:</p> {{ user.class }}</div>
  <div class="row"><p class="title">Email:</p> {{ user.email }}</div>
  <div class="row"><p class="title">Brugernavn:</p> {{ user.username }}</div>
</div>

<div class="card">
  <div class="head">
    <h3>Danger zone</h3>
  </div>
  <div class="row">
    <form action="/profile/delete" method="POST" onsubmit="return deleteAccount()">
      {{!-- This is filled out by javascript when we agree to delete our account --}}
      <input type="hidden" id="check_token" name="check_token" value="">

      {{!-- Include the csrf token --}}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button class="warn" type="submit">Slet konto</button>
    </form>
  </div>
</div>

<a href="/logout">Log ud</a>

<script>
const email = "{{ user.email }}";

function deleteAccount() {
  const confirm = prompt(`Indtast din email (${email}) for at bekræfte at din bruger bliver slettet. DETTE KAN IKKE GØRES OM`)
  if(confirm == email) {
    document.getElementById('check_token').value = email;
    return true;
  } else {
    alert('Det du indtastede matcher ikke din email, din bruger vil IKKE blive slettet');
    return false;
  }
}
</script>