  <style>
    header {
      background-color: var(--background-100);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 48px;
    }

    header > .logo {
      height: 28px;
      padding: 0 16px;
    }

    header > .logo img {
      height: 100%;
    }

    header a {
      text-decoration: none;
    }

    nav.large {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }

    nav .spacer {
      content: "";
      height: 55%;
      width: 1.5px;
      margin: auto 4px;
      background-color: var(--background-400);
    }

    nav a {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 100%;
      text-decoration: none;
      color: var(--primary-text);
    }

    nav a:hover {
      cursor: pointer;
      background-color: var(--background-300);
      text-decoration: none;
    }

    nav .user {
      display: flex;
      align-items: center;
    }

    .user > .avatar {
      height: 28px;
      width: 28px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .setup-banner {
      width: 100%;
      padding: 16px;
      background-color: transparent;
      text-align: center;
      position: absolute;
      top: 10px;
      color: var(--primary-text);
    }

    .setup-banner > .inner {
      background-color: rgb(236, 201, 103);
      padding: 8px 0;
    }

    .setup-banner > .inner > a {
      color: var(--primary-text);
    }

    .dropdown-container {
      position: relative;
    }

    .dropdown-container .dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      list-style-type: none;
      width: 150%;
      top: 48px;
      right: 0;
      background-color: var(--background-200);
      transition: var(--fast-transition);
      display: flex;
      flex-direction: column;
    }

    .dropdown-container:hover .dropdown {
      visibility: unset;
      opacity: 1;
    }

    .dropdown-container .dropdown a {
      width: 100%;
      text-align: center;
      height: 42px;
    }

    nav.small {
      display: none;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }

    nav.small > #is-open {
      display: none;
    }

    nav.small a.open-nav {
      font-size: 26px;
    }

    nav.small > .container {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 0;
      width: 100%;
      background-color: var(--background-100);
      transition: var(--fast-transition);
    }
    nav.small > .container > .inner {
      height: 100%;
      width: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav.small > .container label.close {
      position: absolute;
      bottom: 16px;
      right: 16px;
      padding: 16px;
      background-color: var(--card-background);
      -webkit-box-shadow: var(--shadow-basic); 
      box-shadow: var(--shadow-basic);
      border-radius: 8px;
    }

    nav.small > #is-open:checked + .container {
      height: 100%;
    }

    nav.small a:not(.open-nav) {
      width: 100%;
      height: fit-content;
      padding: 12px 0;
      font-size: 24px;
      font-weight: 500;
      color: var(--muted-text);
      display: flex;
      justify-content: center;
    }

    nav.small .spacer {
      height: 1.5px;
      width: 60%;
      margin: 0;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    @media only screen and (max-width: 500px) {
      nav.small {
        display: flex;
      }

      nav.large {
        display: none;
      }

      header {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
      }

      #footer-offset {
        content: "";
        width: 100%;
        height: 48px;
      }
    }
  </style>

{{#if user}}
{{#unless user.setup_finished}}
<span class="setup-banner">
  <div class="inner">
    Vi mangler stadig lidt information omkring dig, <a href="/profile/setup">Klik her</a> for at færdig gøre din bruger
  </div>
</span>
{{/unless}}
{{/if}}

<header>

  <div class="logo">
    <a href="/">
      <img class="logo-img" height="28" src="/images/logo/pill.png" alt="AGC Lan logo" />
    </a>
  </div>

  <nav class="large">
    <a href="/faq">Information</a>
    <a href="/lan/list">Lan</a>

    {{#if (isStaff user)}}
    <a href="/staff">Staff</a>
    {{/if}}

    {{#if user}}
    <div class="spacer"></div>
    <div class="dropdown-container">
      <a class="user" href="/profile">
        <img class="avatar" height="28" src="{{ user.picture_url }}" alt="Profile image">
        <p>{{ user.username }}</p>
      </a>

      <div class="dropdown">
        {{!-- <a>Sub-1</a>
        <a>Sub-2</a> --}}
        <a href="/logout" class="flex-space-between">Log ud <i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
    {{else}}
    <div class="spacer"></div>
    <a class="user" href="/login">Login</a>
    {{/if}}
  </nav>

  <nav class="small">
    <input type="checkbox" name="is-open" id="is-open">
    <div class="container">
      <div class="inner">

        <a href="/faq">Information</a>
        <a href="/lan/list">Lan</a>

        {{#if (isStaff user)}}
          <a href="/staff">Staff</a>
        {{/if}}

        <div class="spacer"></div>

        {{#if user}}
        <a class="user" href="/profile">
          <img class="avatar" height="28" src="{{ user.picture_url }}" alt="Profile image">
          <p>{{ user.username }}</p>
        </a>
        {{else}}
        <a class="user" href="/login">Login</a>
        {{/if}}

        <label for="is-open" class="close"><i class="fas fa-chevron-up"></i></label>
      </div>
    </div>

    <a class="open-nav"><label for="is-open"><i class="fas fa-bars"></i></label></a>
  </nav>
</header>
