<html lang="en" data-theme="light">
  <head>
    {{> meta-head}}

    {{#if title}}
      <title>{{title}} - AGC Lan</title>
    {{else}}
      <title>AGC Lan</title>
    {{/if}}

    <style>
      .page {
        min-height: 100%;
      }

      .page > .inner {
        width: 100%;
        padding: 16px;
        min-height: 100%;
        height: fit-content;
      }

      body {
        position: relative;
      }

      body > .background-image {
        position: fixed;
        z-index: -10000;
        width: 100%;
        height: 100%;
        background-color: var(--background-50);
        background-image: var(--background-image);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
      }
    </style>

    {{#if (eq NODE_ENV "production")}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4QVNR8ZPW2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4QVNR8ZPW2');

      {{#if user}}
      gtag('config', 'GA_MEASUREMENT_ID', {
        'user_id': '{{ user._id }}'
      });
      {{/if}}
    </script>
    {{else}}
    <!-- GTAG manager will be injected here in production -->
    {{/if}}
  </head>
  <body>
    <div class="background-image"></div>

    {{#unless noHeader}}
    {{> header }}
    {{/unless}}

    <main class="page">
      <div class="inner">
        {{{body}}}
      </div>
    </main>

    {{> messages}}

    {{> footer }}

    {{!-- This is so that we can offset the footer to account for the height of the bottom fixed navbar
          It only has height if the screen is under a certian side, see more in partials/header --}}
    <div id="footer-offset"></div>
  </body>
</html>