{{!-- Display the error if an error is present --}}
{{#if error}}
<style>
  .error {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .error>span {
    background-color: var(--warn-400);
    margin-top: 64px;
    padding: 12px 32px;
    width: min(100%, fit-content);
    height: fit-content;
    color: var(--warn-contrast-400);
    border-radius: 5px;
    text-align: center;
  }
</style>

<div class="error">
  <span>{{ error }}</span>
</div>

{{else}}

{{!-- Otherwise just do the regular profile --}}
<style>
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .card {
    padding: 32px;
    width: min(500px, 90%);
    height: fit-content;

    display: flex;
    justify-content: space-between;
  }

  .card.banner {
    border-top: 3px solid {{ foundUser.accent_color }};
  }

  .card > .avatar {
    width: 80px;
    border-radius: 50%;
    padding: 0 !important;
  }

  .card > .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card > .text > .username {
    margin-bottom: 8px;
  }

  .card > .text > p {
    color: var(--muted-text);
    max-width: 200px;
  }

  .card.admin {
    display: flex;
    flex-direction: column;
    /* !important to override the media query */
    align-items: flex-start !important;
  }

  .card.admin > .header {
    margin-bottom: 32px;
  }

  .card.admin .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card.admin .buttons button {
    width: 200px;
    margin: 8px;
    flex-shrink: 1;
  }

  @media only screen and (max-width: 400px) {
    .card {
      flex-direction: column;
      align-items: center;
      width: 95%;
    }

    .card > .text {
      width: 100%;
    }

    .card > .avatar {
      margin-bottom: 64px;
      width: min(150px, 100%);
    }
  }
</style>

<div class="container">
  <div class="card banner">
      <img
        class="avatar"
        {{!-- width="75px"
        height="75px" --}}
        src="{{ foundUser.picture_url }}"
        alt="{{ foundUser.username }} profile picture"
      >
      <div class="text">
        <h4 class="username">{{ foundUser.username }}</h4>
        <p>Probably implement bio?</p>
      </div>
  </div>
</div>

<script>
  function post(url) {
    fetch(url, {
      method: 'POST',
      body: "id={{ foundUser._id }}",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
    }).then(() => location.reload());
  }
</script>
{{/if}}