<style>
  #countdown-p {
    line-height: 31px;
    vertical-align: middle;
    margin-right: 8px;
  }

  #countdown > span:not(.colon) {
    margin: 0 4px;
    padding: 6px 4px;
    background-color: var(--background-300);
    border-radius: 3px;
    font-weight: 500;
  }

  #countdown > span:not(.colon):first-of-type {
    margin-left: 0;
  }
</style>

<div class="card">
  {{#if nextLan.public }}
  <h2 class="head">N칝ste LAN: {{ nextLan.name }}</h2>
  <h4>Dato: <strong>{{ formatDate nextLan.start "long" }}</strong></h4>
  <p>{{ nextLan.description }}</p>

  {{!-- Show countdown if there's a date, and it isn't already open --}}
  {{#if (and nextLan.registration_opens_at (not nextLan.registration_open))}}
  <br>
  <p id="countdown-p">Tilmeldingen starter om <span id="countdown"></span></p>
  {{/if}}

  {{#unless nextLan.public}} {{!-- TODO: lan.show_calendar --}}
  <p>Tidsplanen for n칝ste LAN er ikke klar endnu, men vil blive vist herunder s친 snart alt er planlagt.</p>
  {{/unless}}
  {{else}}
  <h2 class="head">Ingen LAN planlagt</h2>
  <p>Der er ingen LAN planlagt p친 nuv칝rende tidspunkt.</p>
  {{/if}}
</div>

{{#if nextLan.registration_open}}
<div class="card">
  <h2 class="head">Tilmelding til n칝ste lan er nu 친ben 游봅</h2>
  <p>
    <strong>{{ nextLan.users.length }}</strong> 
    {{!-- Plural or singular form --}}
    {{#if (eq nextLan.users.length 1)}} person {{else}} personer {{/if}}
    har allerede tilmeldt sig</p>
  <div>
    {{!-- We need a container div here, otherwise padding will fuck shit up --}}
    <a href="/lan/tilmeld" class="button">Tilmeld dig her</a>
  </div>
</div>
{{/if}}

{{#if (and nextLan nextLan.public)}}
<div class="card">
  <h2 class="head">Tidsplan</h2>
  <p>Start: {{ formatDate nextLan.start "long" }}</p>
</div>
{{/if}}
<div class="card">
  <h2 class="head">Hvad er AG LAN?</h2>
  <p>AG LAN <span class="acronym">(A<span>arhus</span>G<span>ymnasium</span> L<span>AN</span>) er navnet p친 det
    LAN
    vi holder p친 Aarhus Gymnasium Aarhus C, af elever, for elever. LAN bliver som regel holdt over en weekend, fra
    fredag
    aften til s칮ndag middag, men det er tilladt at komme og g친 som man vil, s친 l칝nge man er tilmeldt.</p>

  <p>Under <a href="/FAQ">Information</a> kan du finde alle de informationer, du har brug for at vide, f칮r du
    tager til LAN. Dette inkluderer for eksempel tid og sted, pakkeliste, hvordan madbestilling foreg친r,
    regler for opholdelse under LAN, og en FAQ.</p>
  <p>Under <a href="/lan/tilmeld">Tilmelding</a> kan du melde dig til n칝ste LAN, og reservere plads.
    Vi regner med at alle, der kommer, melder sig til.</p>
  <p>P친 vores <a href="https://discord.gg/3DJaNFY">Discord</a> server kan du melde dig til det kommende LAN's turneringer. Her kan
    du ogs친 se holdenes placering under og efter turneringer, og hvilke pr칝mier de forskellige turneringer har.</p>
  {{!-- /turneringer isn't ready yet --}}
  {{!-- <p>Under <a href="/turneringer">Turnering</a> kan du melde dig til det kommende LAN's turneringer. Her kan
    du ogs친 se holdenes placering under og efter turneringer, og hvilke pr칝mier de forskellige turneringer har.</p> --}}
</div>
<div class="card">
  <h2 class="head">Regler</h2>
  <p>Vi har nogle f친, men vigtige, regler, som vi gerne vil have at alle overholder af sikkerhedsm칝ssige 친rsager, og for
    at
    alle kan f친 en god oplevelse til LAN.</p>
  <ul>
    <li><b>Du m친 ikke komme beruset, eller indtage alkohol</b>, til nogen af LANene. Hvis der er p친virkede mennesker til
      LAN,
      kan LAN risikere at blive lukket for evigt.
    </li>
    <li><b>Samleje er ikke tilladt til LAN</b>, eller noget andet tidspunkt p친 skolens ejendom.</li>
    <li><b>N친r du har brugt k칮kkenet, skal du huske at rydde op</b> og g칮re rent de steder hvor du har v칝ret, og de
      ting du har brugt.
    </li>
    <li><b>Der m친 ikke st친 tasker eller andet baggage ved bordene, da det sp칝rrer brandvejene.</b> Al baggage skal i
      stedet
      stilles op p친 trappen, eller i andre afmarkerede baggageomr친der.
    </li>
    <li><b>Der m친 ikke st친 drikke- eller spisevarer i n칝rheden af El-tavlerne (de store str칮mfordelere)</b>.</li>
    <li><b>For at undg친 kortslutning, m친 du ikke s칝tte h칮jsp칝ndigs k칮kkenudstyr (som k칮leskabe) til str칮mstikket hvor du
        sidder.</b>
      Vi har et dedikeret k칮kkenomr친de, der er sat op til at klare h칮jere sp칝nding.
    </li>
    <li><b>Der m친 ikke medbringes netv칝rksudstyr som routere og access-points, og du m친 ikke hoste hotspots og
        andet uden tilladelse.</b> N친r du ankommer skal du ogs친 sikre dig at din computer ikke er sat op til at dele
      dit netv칝rk igennem lan-kabel. Dette kan nemlig for친rsage problemer.
    </li>
    <li><b>Husk at rydde op l칮bende under LAN,</b> og smid dine pantflasker i de afmarkerede pantspande.</li>
    <li>Vi forbeholder os retten til at fjerne alt upassende data fra en brugers profil.</li>
  </ul>
</div>

<script>
  // Shamelessly stolen from https://www.w3schools.com/howto/howto_js_countdown.asp

  // Set the date we're counting down to
  var countDownDate = new Date("{{ nextLan.registration_opens_at }}").getTime();

  // Update the count down every 1 second
  const x = setInterval(calculateTimeRemaining, 1000);

  function calculateTimeRemaining() {
    // Get today's date and time
    const now = new Date().getTime();

    // Find the distance between now and the count down date
    const distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="countdown"
    document.getElementById("countdown").innerHTML = [
        (days ? `<span title="Dage">${days.toString().padStart(2, '0')}</span>` : undefined),
        (hours ? `<span title="Timer">${hours.toString().padStart(2, '0')}</span>` : undefined),
        `<span title="Minutter">${minutes.toString().padStart(2, '0')}</span>`,
        `<span title="Sekunder">${seconds.toString().padStart(2, '0')}</span>`,
      ].filter(s => s).join('<span class="colon">:</span>'); // Hacky way to get colons between each number

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "EXPIRED";
    }
  }

  // Run the function instalntly
  calculateTimeRemaining();
</script>