<style>
  .card {
    background-color: var(--card-background);
    -webkit-box-shadow: var(--shadow-basic);
    box-shadow: var(--shadow-basic);
    padding: 32px;
    border-radius: 10px;
    margin: 32px 0;
    position: relative;
  }

  .container {
    overflow-x: auto;
    border-radius: 4px;
    width: min(100%, 700px);
  }

  .container>table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 700px;
  }

  .container>table td,
  .container>table th {
    padding: 8px;
  }
  .container>table td:not(:last-of-type),
  .container>table th:not(:last-of-type ) {
    border-right: 1px solid var(--background-200);
  }

  .container>table td.goto a {
    color: var(--primary-text);
    text-decoration: none;
  }

  .container>table tr:nth-child(odd) {
    background-color: var(--background-200);
  }

  .container>table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--info-800);
  }

  .container>table th a {
    color: var(--info-contrast-800);
    text-decoration: none;
  }
</style>

<h1>Alle brugere</h1>

<div class="card">
  <div class="container">
    <table id="user-table">
      <tr>
        <th></th>
        <th><a href="?sort=first_name">Fornavn</a></th>
        <th><a href="?sort=last_name">Efternavn</a></th>
        <th><a href="?sort=username">Brugernavn</a></th>
        <th><a href="?sort=email">Email</a></th>
        <th><a href="?sort=class">Klasse</a></th>
      </tr>
      {{#each users}}
      <tr>

        <td class="goto">
          <a href="/user/{{ this._id }}"><i class="fas fa-external-link-alt"></i></a>
        </td>

        <td>{{ this.first_name }}</td>
        <td>{{ this.last_name }}</td>
        <td>{{ this.username }}</td>
        <td>{{ this.email }}</td>
        <td>{{ this.class }}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>