{{!-- Display the error if an error is present --}}
{{#if error}}
<style>
  .error {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .error>span {
    background-color: var(--warn-400);
    margin-top: 64px;
    padding: 12px 32px;
    width: min(100%, fit-content);
    height: fit-content;
    color: var(--warn-contrast-400);
    border-radius: 5px;
    text-align: center;
  }
</style>

<div class="error">
  <span>{{ error }}</span>
</div>

{{else}}
{{!-- Otherwise just display the normal page --}}

<style>
  .card > .row {
    width: 100%;
    padding: 12px 32px !important;
    margin: 0 !important;
    display: flex;
    justify-content: flex-start;
  }

  .card > .row > .title {
    min-width: 150px !important;
    color: var(--muted-text);
  } 

  .card > .row:nth-child(odd) {
    background-color: var(--background-200);
  }

  .card > .head {
    padding: 32px 32px 16px 32px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--background-400);
  }

  .card.tilmeldt {
    padding: 12px 32px;
    align-items: center;
  }

  .card.tilmeldt > .button-container :last-child {
    margin-left: 8px;
  }

  @media only screen and (max-width: 500px) {
    .card.tilmeldt > .button-container :last-child {
      display: none;
    }
  }
</style>

<h1>Info om LAN</h1>
<br>
{{!-- Only say the user is tilmeldt if they are --}}
{{#if tilmelding}} <div class="card not-padding flex-space-between tilmeldt">
  <h3>Du er tilmeldt dette LAN</h3>
  <div class="button-container">
    <a href="/lan/tilmelding/{{ tilmelding._id }}" class="button">Vis mere</a>
    <a href="/lan/{{ lan._id }}/frameld" class="button warn">Frameld</a>
  </div>
</div> {{/if}}

<div class="card">
  <div class="head">
    <h3>Basic information</h3>
  </div>
  <div class="row"><p class="title">Navn:</p> {{ lan.name }}</div>
  <div class="row"><p class="title">Beskrivelse:</p> {{ lan.description }}</div>
  <div class="row"><p class="title">Starter:</p> {{ formatDate lan.start "long" }}</div>
  <div class="row"><p class="title">Slutter:</p> {{ formatDate lan.end "long" }}</div>
  <div class="row"><p class="title">Pris:</p> {{ lan.price }}</div>
  <div class="row"><p class="title">Deltagere:</p> {{ lan.users.length }}</div>

  {{#if (isStaff user)}}
    <div class="row"><p class="hidden">blank</p></div>
    <div class="row"><p class="title">Oprettet:</p> {{ lan.created_at }}</div>
    <div class="row"><p class="title">Sidst opdateret:</p> {{ lan.updated_at }}</div>
  {{/if}}
</div>

{{!-- TODO: do something with this --}}
<div class="card hidden">
</div>

{{/if}}